<ul class="timeline" ng-controller="ExpCtrl">
  <li>
    <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Morningstar, Inc</h4>
        <h5>2009-10 - Util present</h5>
      </div>
      <div class="timeline-body">
        <h5>Responsibility</h5>
        <ul>
          <li>
            <h6>Real-time Query Web App (<a href="https://quotespeed.morningstar.com/" target="_blank">quotespeed.morningstar.com</a>)</h6>
            <ul>
              <li>Developed UI Components (Such as: Window, Barometer, Delta...)</li>
              <li>Developed Widgets (Such as: Quote, Quicktake, Time&Sales...)</li>
              <li>Developed themes</li>
              <li>Designed CSS framework</li>
              <li>Optimized CSS and images to improve performance. (Use HttpWatch to analyst network performance, use Smushit to lossless compress images and use YUI to package CSS)</li>
            </ul>
          </li>
          <li>
            <h6>API/SDK (<a href="https://quotespeed.morningstar.com/apis/index.jsp" target="_blank">quotespeed.morningstar.com/apis/index.jsp</a>)</h6>
            <ul>
              <li>Developed Widgets (Such as: Quicktake, Market Barometer, Market Sector Delta, Entitlment, ...)</li>
              <li>Developed themes (Provided customized services)</li>
              <li>Routine maintenance</li>
              <li>Wrote and updated documentations.</li>
              <li>Use Phantomjs to test image chart service.</li>
            </ul>
          </li>
          <li>
            <h6>FINRA (<a href="http://finra-markets.morningstar.com/" target="_blank">finra-markets.morningstar.com</a>)</h6>
            <ul>
              <li>Developed pages with our components</li>
            </ul>
          </li>        
        </ul>
        <hr>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Achievo Corporation</h4>
        <h5>2007-07 - 2009-10</h5>
      </div>
      <div class="timeline-body">
        <h5>Responsibility</h5>
        <ul>
          <li>
            <h6>Yahoo Taiwan (<a href="http://tw.yahoo.com/" target="_blank">tw.yahoo.com/</a>)</h6>
            <ul>
              <li>Used YUI to develop web pages for Yahoo TW.</li>
              <li>Developed an Online Customization System named Lego with Yahoo Korea.</li>
            </ul>
          </li>
          <li>
            <h6>Taikun (Virtual Financial Game)</h6>
            <ul>
              <li>Chose font-end solution.</li>
              <li>Developed protypes.</li>
              <li>Developed pages and widgets. (Such as: sector tree)</li>
            </ul>
          </li>    
        </ul>
        <hr>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Shenzhen Fountain Corporation</h4>
        <h5>2001-07 - 2007-06</h5>
      </div>
      <div class="timeline-body">
        <h5>Responsibility</h5>
        <ul>
          <li>
            <h6>Developed Flash animation, video clips and web pages.</h6>
          </li>
          <li>
            <h6>Developed Hotel Management System.</h6>
          </li>    
        </ul>
        <hr>
      </div>
    </div>
  </li>
</ul>